#../.idea/
.venv/
__pycache__
tests/__pycache__
live.db
#.idea/
**/.__pycache__/*
*.~lock*
.vscode/*
.pytest_cache/
htmlcov/*
pip-wheel-metadata/*
prof/*
tags
skip-covered/
#.idea/
#.idea
dist/
**/.mypy_cache/*
**/__pycache__/*
.ropeproject
.tox
.coverage
build/
**/#*
**/*.egg-info/*:wq
analysis_engine.egg-info
.nox
.eggs
other/


analysis_engine/annotation.py
analysis_engine/main_store.py